<table class="table table-bordered table-condense battle-table"
       id="battle-table-<%=id%>">
  <thead>
    <%if (id != 'combined') {%>
    <tr>
      <td colspan="4">
        <span class="fleet-name"></span>&nbsp;
        <span class="formation"></span>&nbsp;
      </td>
    </tr>
    <%}%>
  </thead>
  <tbody>
    <%if (id != 'combined') {%>
    <tr>
      <th class="name"></th>
      <th class="battle-hp day-start">开始</th>
      <th class="battle-hp day-end">昼战结束</th>
      <th class="battle-hp night-end">夜战结束</th>
    </tr>
    <%}%>
    <tr id="ship-1">
      <td class="name"></td>
      <td class="battle-hp day-start">
        <span class="hp"></span><span class="status"></span>
      </td>
      <td class="battle-hp day-end">
        <span class="hp"></span><span class="status"></span>
      </td>
      <td class="battle-hp night-end">
        <span class="hp"></span><span class="status"></span>
      </td>
    </tr>
    <tr id="ship-2">
      <td class="name"></td>
      <td class="battle-hp day-start">
        <span class="hp"></span><span class="status"></span>
      </td>
      <td class="battle-hp day-end">
        <span class="hp"></span><span class="status"></span>
      </td>
      <td class="battle-hp night-end">
        <span class="hp"></span><span class="status"></span>
      </td>
    </tr>
    <tr id="ship-3">
      <td class="name"></td>
      <td class="battle-hp day-start">
        <span class="hp"></span><span class="status"></span>
      </td>
      <td class="battle-hp day-end">
        <span class="hp"></span><span class="status"></span>
      </td>
      <td class="battle-hp night-end">
        <span class="hp"></span><span class="status"></span>
      </td>
    </tr>
    <tr id="ship-4">
      <td class="name"></td>
      <td class="battle-hp day-start">
        <span class="hp"></span><span class="status"></span>
      </td>
      <td class="battle-hp day-end">
        <span class="hp"></span><span class="status"></span>
      </td>
      <td class="battle-hp night-end">
        <span class="hp"></span><span class="status"></span>
      </td>
    </tr>
    <tr id="ship-5">
      <td class="name"></td>
      <td class="battle-hp day-start">
        <span class="hp"></span><span class="status"></span>
      </td>
      <td class="battle-hp day-end">
        <span class="hp"></span><span class="status"></span>
      </td>
      <td class="battle-hp night-end">
        <span class="hp"></span><span class="status"></span>
      </td>
    </tr>
    <tr id="ship-6">
      <td class="name"></td>
      <td class="battle-hp day-start">
        <span class="hp"></span><span class="status"></span>
      </td>
      <td class="battle-hp day-end">
        <span class="hp"></span><span class="status"></span>
      </td>
      <td class="battle-hp night-end">
        <span class="hp"></span><span class="status"></span>
      </td>
    </tr>
  </tbody>
</table>