<div class="panel panel-default" id="battle-panel">
  <div class="panel-heading">
    <div class="panel-title">战斗
      <span id="map"></span><span id="map-point"></span>
    </div>
    <span class="glyphicon glyphicon-triangle-bottom minify-panel"
          style="float:right;"></span>
  </div>
  <div class="panel-body">
    <div id="map-info"></div>
    <!-- 2 friendly tables goes here -->
    <p id="battle-info"><span id="stance"></span></p>
    <!-- 1 enemy table goes here -->
    <div id="battle-result">
      <span>结果</span><span id="rank"></span>
      <span>MVP</span><span id="mvp"></span>
      <span id="drop"><span>掉落</span><span id="ship-get"></span></span>
    </div>
  </div>
</div>           
