<div class="panel panel-default" id="battle-panel">
  <div class="panel-heading">
    <div class="panel-title">战斗
      <span id="map"></span><span id="map-point"></span>
    </div>
    <span class="glyphicon glyphicon-triangle-bottom minify-panel"
          style="float:right;"></span>
  </div>
  <div class="panel-body">
    <div id="no-battle"><p>未出击</p></div>
    <table class="table table-bordered table-condense battle-table-friendly" style="display:none;">
      <thead>
        <tr>
          <td colspan="4"><span class="fleet-name">fleet name</span>&nbsp;<span class="formation">formation</span>&nbsp;<span class="casualty"></span></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="name"></th>
          <th class="day-start">开始</th>
          <th class="day-end">昼战结束</th>
          <th class="night-end">夜战结束</th>
        </tr>
        <tr>
          <td class="name">name</td>
          <td class="day-start"><span class="hp">100/100</span><span class="status">状态</span></td>
          <td class="day-end"><span class="hp">100</span><span class="status">状态</span></td>
          <td class="night-end"><span class="hp">100</span><span class="status">状态</span></td>
        </tr>
        <tr>
          <td class="name">name</td>
          <td class="day-start"><span class="hp">100/100</span><span class="status">状态</span></td>
          <td class="day-end"><span class="hp">100</span><span class="status">状态</span></td>
          <td class="night-end"><span class="hp">100</span><span class="status">状态</span></td>
        </tr>
        <tr>
          <td class="name">name</td>
          <td class="day-start"><span class="hp">100/100</span><span class="status">状态</span></td>
          <td class="day-end"><span class="hp">100</span><span class="status">状态</span></td>
          <td class="night-end"><span class="hp">100</span><span class="status">状态</span></td>
        </tr>
        <tr>
          <td class="name">name</td>
          <td class="day-start"><span class="hp">100/100</span><span class="status">状态</span></td>
          <td class="day-end"><span class="hp">100</span><span class="status">状态</span></td>
          <td class="night-end"><span class="hp">100</span><span class="status">状态</span></td>
        </tr>
        <tr>
          <td class="name">name</td>
          <td class="day-start"><span class="hp">100/100</span><span class="status">状态</span></td>
          <td class="day-end"><span class="hp">100</span><span class="status">状态</span></td>
          <td class="night-end"><span class="hp">100</span><span class="status">状态</span></td>
        </tr>
        <tr>
          <td class="name">name</td>
          <td class="day-start"><span class="hp">100/100</span><span class="status">状态</span></td>
          <td class="day-end"><span class="hp">100</span><span class="status">状态</span></td>
          <td class="night-end"><span class="hp">100</span><span class="status">状态</span></td>
        </tr>
      </tbody>
    </table>
    <table class="table table-bordered table-condense battle-table-combined" style="display:none;">
      <thead>
        <tr style="display:none;">
          <td colspan="4"><span class="fleet-name">fleet name</span>&nbsp;<span class="formation">formation</span>&nbsp;<span class="casualty"></span></td>
        </tr>
      </thead>
      <tbody>
        <tr style="display:none;">
          <th class="name"></th>
          <th class="day-start">开始</th>
          <th class="day-end">昼战结束</th>
          <th class="night-end">夜战结束</th>
        </tr>
        <tr>
          <td class="name">name</td>
          <td class="day-start"><span class="hp">100/100</span><span class="status">状态</span></td>
          <td class="day-end"><span class="hp">100</span><span class="status">状态</span></td>
          <td class="night-end"><span class="hp">100</span><span class="status">状态</span></td>
        </tr>
        <tr>
          <td class="name">name</td>
          <td class="day-start"><span class="hp">100/100</span><span class="status">状态</span></td>
          <td class="day-end"><span class="hp">100</span><span class="status">状态</span></td>
          <td class="night-end"><span class="hp">100</span><span class="status">状态</span></td>
        </tr>
        <tr>
          <td class="name">name</td>
          <td class="day-start"><span class="hp">100/100</span><span class="status">状态</span></td>
          <td class="day-end"><span class="hp">100</span><span class="status">状态</span></td>
          <td class="night-end"><span class="hp">100</span><span class="status">状态</span></td>
        </tr>
        <tr>
          <td class="name">name</td>
          <td class="day-start"><span class="hp">100/100</span><span class="status">状态</span></td>
          <td class="day-end"><span class="hp">100</span><span class="status">状态</span></td>
          <td class="night-end"><span class="hp">100</span><span class="status">状态</span></td>
        </tr>
        <tr>
          <td class="name">name</td>
          <td class="day-start"><span class="hp">100/100</span><span class="status">状态</span></td>
          <td class="day-end"><span class="hp">100</span><span class="status">状态</span></td>
          <td class="night-end"><span class="hp">100</span><span class="status">状态</span></td>
        </tr>
        <tr>
          <td class="name">name</td>
          <td class="day-start"><span class="hp">100/100</span><span class="status">状态</span></td>
          <td class="day-end"><span class="hp">100</span><span class="status">状态</span></td>
          <td class="night-end"><span class="hp">100</span><span class="status">状态</span></td>
        </tr>
      </tbody>
    </table>
    <p id="battle-info"><span id="stance"></span></p>
    <p id="peace"></p>
    <table class="table battle-table-enemy table-bordered table-condense" style="display:none;">
      <thead>
        <tr>
          <td colspan="4"><span class="fleet-name">fleet name</span>&nbsp;<span class="formation">formation</span>&nbsp;<span class="casualty"></span></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="name"></th>
          <th class="day-start">开始</th>
          <th class="day-end">昼战结束</th>
          <th class="night-end">夜战结束</th>
        </tr>
        <tr>
          <td class="name">name</td>
          <td class="day-start"><span class="hp">100/100</span><span class="status">状态</span></td>
          <td class="day-end"><span class="hp">100</span><span class="status">状态</span></td>
          <td class="night-end"><span class="hp">100</span><span class="status">状态</span></td>
        </tr>
        <tr>
          <td class="name">name</td>
          <td class="day-start"><span class="hp">100/100</span><span class="status">状态</span></td>
          <td class="day-end"><span class="hp">100</span><span class="status">状态</span></td>
          <td class="night-end"><span class="hp">100</span><span class="status">状态</span></td>
        </tr>
        <tr>
          <td class="name">name</td>
          <td class="day-start"><span class="hp">100/100</span><span class="status">状态</span></td>
          <td class="day-end"><span class="hp">100</span><span class="status">状态</span></td>
          <td class="night-end"><span class="hp">100</span><span class="status">状态</span></td>
        </tr>
        <tr>
          <td class="name">name</td>
          <td class="day-start"><span class="hp">100/100</span><span class="status">状态</span></td>
          <td class="day-end"><span class="hp">100</span><span class="status">状态</span></td>
          <td class="night-end"><span class="hp">100</span><span class="status">状态</span></td>
        </tr>
        <tr>
          <td class="name">name</td>
          <td class="day-start"><span class="hp">100/100</span><span class="status">状态</span></td>
          <td class="day-end"><span class="hp">100</span><span class="status">状态</span></td>
          <td class="night-end"><span class="hp">100</span><span class="status">状态</span></td>
        </tr>
        <tr>
          <td class="name">name</td>
          <td class="day-start"><span class="hp">100/100</span><span class="status">状态</span></td>
          <td class="day-end"><span class="hp">100</span><span class="status">状态</span></td>
          <td class="night-end"><span class="hp">100</span><span class="status">状态</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>           
