<div class="panel panel-default" id="fleet-panel">
  <div class="panel-heading">
    <div class="panel-title">舰队</div>
    <span class="my-icons" style="float:right;">
      <span class="glyphicon glyphicon-triangle-bottom minify-panel"></span>&nbsp;
      <span class="glyphicon glyphicon-remove hide-panel"></span>
    </span>
  </div>
  <div class="panel-body">
    <div class="tabable" id="tab-fleet">
      <ul class="nav nav-tabs">
        <li class="fleet-tab active">
          <a href="#fleet-1" data-toggle="tab">
            <span class="fleet-num">1</span>&nbsp;
            <span class="fleet-name-shown"></span>
          </a>
        </li>
        <li class="fleet-tab">
          <a href="#fleet-2" data-toggle="tab">
            <span class="fleet-num">2</span>&nbsp;
            <span class="fleet-name-hidden"></span>
          </a>
        </li>
        <li class="fleet-tab">
          <a href="#fleet-3" data-toggle="tab">
            <span class="fleet-num">3</span>&nbsp;
            <span class="fleet-name-hidden"></span>
          </a>
        </li>
        <li class="fleet-tab">
          <a href="#fleet-4" data-toggle="tab">
            <span class="fleet-num">4</span>&nbsp;
            <span class="fleet-name-hidden"></span>
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="fleet-1">
          <div class="fleet-status alert" role="alert">
            <span class="status-info">No data</span>&nbsp;
            <span class="status-detail"></span>
            <span class="status-timer"></span>
          </div>
          <table class="table fleet-table">
            <tbody></tbody>
          </table>
        </div>
        <div class="tab-pane" id="fleet-2">
          <div class="fleet-status alert" role="alert">
            <span class="status-info">No data</span>&nbsp;
            <span class="status-detail"></span>
            <span class="status-timer"></span>
          </div>
          <table class="table fleet-table">
            <tbody></tbody>
          </table>
        </div>
        <div class="tab-pane" id="fleet-3">
          <div class="fleet-status alert" role="alert">
            <span class="status-info">No data</span>&nbsp;
            <span class="status-detail"></span>
            <span class="status-timer"></span>
          </div>
          <table class="table fleet-table">
            <tbody></tbody>
          </table>
        </div>
        <div class="tab-pane" id="fleet-4">
          <div class="fleet-status alert" role="alert">
            <span class="status-info">No data</span>&nbsp;
            <span class="status-detail"></span>
            <span class="status-timer"></span>
          </div>
          <table class="table fleet-table">
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer fleet-footer"  id="fleet-footer-1">
    <span class="cell-like">
      <span>制空</span>&nbsp;<span class="fleet-anti-air"></span>
    </span>
    <span class="cell-like">
      <span>索敌</span>&nbsp;<span class="fleet-tracking"></span>
    </span>
    <span class="cell-like">
      <span>平均等级</span>&nbsp;<span class="fleet-avg-lv"></span>
    </span>              
    <span class="cell-like">
      <span>总等级</span>&nbsp;<span class="fleet-total-lv"></span>
    </span>
    <span class="cell-like fleet-speed">舰队速度</span>
  </div>
  <div class="panel-footer fleet-footer" style="display:none" id="fleet-footer-2">
    <span class="cell-like">
      <span>制空</span>&nbsp;<span class="fleet-anti-air"></span></span>
    <span class="cell-like">
      <span>索敌</span>&nbsp;<span class="fleet-tracking"></span></span>
    <span class="cell-like">
      <span>平均等级</span>&nbsp;<span class="fleet-avg-lv"></span>
    </span>              
    <span class="cell-like">
      <span>总等级</span>&nbsp;<span class="fleet-total-lv"></span>
    </span>
    <span class="cell-like fleet-speed">舰队速度</span>
  </div>
  <div class="panel-footer fleet-footer" style="display:none" id="fleet-footer-3">
    <span class="cell-like">
      <span>制空</span>&nbsp;<span class="fleet-anti-air"></span></span>
    <span class="cell-like">
      <span>索敌</span>&nbsp;<span class="fleet-tracking"></span></span>
    <span class="cell-like">
      <span>平均等级</span>&nbsp;<span class="fleet-avg-lv"></span>
    </span>              
    <span class="cell-like">
      <span>总等级</span>&nbsp;<span class="fleet-total-lv"></span>
    </span>
    <span class="cell-like fleet-speed">舰队速度</span>
  </div>
  <div class="panel-footer fleet-footer" style="display:none" id="fleet-footer-4">
    <span class="cell-like">
      <span>制空</span>&nbsp;<span class="fleet-anti-air"></span></span>
    <span class="cell-like">
      <span>索敌</span>&nbsp;<span class="fleet-tracking"></span></span>
    <span class="cell-like">
      <span>平均等级</span>&nbsp;<span class="fleet-avg-lv"></span>
    </span>              
    <span class="cell-like">
      <span>总等级</span>&nbsp;<span class="fleet-total-lv"></span>
    </span>
    <span class="cell-like fleet-speed">舰队速度</span>
  </div>
</div> <!-- fleet-panel -->
