<div role="tabpanel" class="tab-pane droppable-pane" id="quest-pill" content='quest-panel-wrapper'>
  <div id="quest-panel-wrapper" class="panel-wrapper">
    <div class="panel panel-default" id="quest-panel">
      <div class="panel-heading">
        <div class="panel-title">任务</div>
        <span class="glyphicon glyphicon-triangle-bottom minify-panel"
              style="float:right;"></span>
      </div>
      <div class="panel-body">
        <div class="tabable" id="quest-tab">
          <ul class="nav nav-tabs">
            <li><a href="#active-quest" data-toggle="tab">当前</a></li>
            <li><a href="#daily-quest" data-toggle="tab">日常</a></li>
            <li><a href="#weekly-quest" data-toggle="tab">周常</a></li>
            <li><a href="#monthly-quest" data-toggle="tab">月常</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="active-quest">
              <table class="table quest-table">
                <tbody>
                  <tr>
                    <td class="type"></td>
                    <td class="name"></td>
                    <td class="quest-progress"></td>
                  </tr>
                  <tr>
                    <td class="type"></td>
                    <td class="name"></td>
                    <td class="quest-progress"></td>
                  </tr>
                  <tr>
                    <td class="type"></td>
                    <td class="name"></td>
                    <td class="quest-progress"></td>
                  </tr>
                  <tr>
                    <td class="type"></td>
                    <td class="name"></td>
                    <td class="quest-progress"></td>
                  </tr>
                  <tr>
                    <td class="type"></td>
                    <td class="name"></td>
                    <td class="quest-progress"></td>
                  </tr>
                  <tr>
                    <td class="type"></td>
                    <td class="name"></td>
                    <td class="quest-progress"></td>
                  </tr>
                </tbody>
              </table>
            </div> <!-- active-quest -->
            <div class="tab-pane" id="daily-quest"></div>
            <div class="tab-pane" id="weekly-quest"></div>
            <div class="tab-pane" id="monthly-quest"></div>
          </div>
        </div>

      </div>
    </div> <!-- quest-panel -->
  </div>
</div>