<div role="tabpanel" class="tab-pane droppable-pane" id="timers-pill">
  <div id="timer-panel-wrapper" class="panel-wrapper">
  <div class="panel panel-default" id="timer-panel">
    <div class="panel-heading">
      <div class="panel-title">Timers</div>
      <span class="my-icons" style="float:right;">
        <span class="glyphicon glyphicon-triangle-bottom minify-panel"></span>
      </span>       
    </div>
    <div class="panel-body">
      <div id="expedition-panel-wrapper">
        <p class="timer-title">远征<span class="glyphicon glyphicon-triangle-bottom minify-table"></span></p>
        <table class="table expedition-table">
          <tbody>
            <tr>
              <td id="fleet-2">2</td>
              <td class="time"></td>
            </tr>
            <tr>
              <td id="fleet-3">3</td>
              <td class="time"></td>
            </tr>
            <tr>
              <td id="fleet-4">4</td>
              <td class="time"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="repair-panel-wrapper">
        <p class="timer-title">入渠<span class="glyphicon glyphicon-triangle-bottom minify-table"></span></p>
        <table class="table repair-table">
          <tbody>
            <tr>
              <td class="ship">No data</td>
              <td class="time"></td>
            </tr>
            <tr>
              <td class="ship">No data</td>
              <td class="time"></td>
            </tr>
            <tr>
              <td class="ship">No data</td>
              <td class="time"></td>
            </tr>
            <tr>
              <td class="ship">No data</td>
              <td class="time"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="build-panel-wrapper">
        <p class="timer-title">建造<span class="glyphicon glyphicon-triangle-bottom minify-table"></span></p>
        <table class="table build-table">
          <tbody>
            <tr>
              <td class="ship">No data</td>
              <td class="time"></td>
            </tr>
            <tr>
              <td class="ship">No data</td>
              <td class="time"></td>
            </tr>
            <tr>
              <td class="ship">No data</td>
              <td class="time"></td>
            </tr>
            <tr>
              <td class="ship">No data</td>
              <td class="time"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </div>          
</div>