<html>
  <head>
    <title>Listener</title>
    <style type="text/css">
      #game_div {
        position:relative;
        width:800px;
        height:480px;
        overflow:hidden;
        border-style:solid
      }
      #game_frame {
        position: relative;
        margin: -78px 0px 0px -86px;
      }
      #game_wrapper {
        height: 480;
        overflow: hidden;
      }
      #game_wrapper {
        padding-top: 0px;
      }
      #game_panel {
        width: 800;
      }
      .mytab {
        width:60px;
      }
      .exp_next,  
      .ship_type {
        font-size: small;
      }
      .table.expedition_table>tbody>tr:nth-of-type(1)>td,
      .table.build_table>tbody>tr:nth-of-type(1)>td,
      .table.repair_table>tbody>tr:nth-of-type(1)>td,
      .table.fleet_table>tbody>tr:nth-of-type(1)>td {
        border-top: none;
      }
      .table.fleet_table>tbody>tr>td {
        vertical-align: middle;
      }
      .progress.health_bar {
        margin-bottom: 0px;
        height: 10px;
      }
      #repair_panel,
      #battle_panel,
      #expedition_panel,
      #game_panel,
      #build_panel,
      #fleet_panel {
        padding: 0px;
      }
      span.fleet_name_hidden {
        display: none;
      }
      span.fleet_name_shown {
        display: inline;
      }
      html * {
        font-family: 'Microsoft YaHei';
      }
      .btn_wrapper {
        text-align: right;
        display: inline-block;
        width: 80%;
      }
      .panel_title {
        width: 17%;
        display: inline-block;
      }
      #game_wrapper {
        display: none;
      }
      #battle_panel>.panel-body>table {
        font-size: small;
      }
      .label-caution {
        background-color: yellow;
      }
    </style>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/bootstrap-theme.min.css">
  </head>
  <body>
    <div class="panel panel-default" id="game_panel">
      <div class="panel-heading">
        <div class="panel_title">Game</div>
        <span class="my_icons" style="float:right;">
          <span class="glyphicon glyphicon-triangle-bottom"></span>&nbsp;
          <span class="glyphicon glyphicon-refresh" id="refresh_game"></span>
        </span>
        
      </div>
      <div class="panel-body" id="game_wrapper">
        <iframe id="game_frame" scrolling="no" width = "900" height = "1200">
        </iframe>
      </div>
    </div>

    <div class="panel panel-default col-md-6" id="fleet_panel">
      <div class="panel-heading">
        <div class="panel_title">舰队</div>
        <span class="glyphicon glyphicon-triangle-bottom"
              style="float:right;"></span>
      </div>
      <div class="panel-body">
        <div class="tabable" id="tab_fleet">
          <ul class="nav nav-tabs">
            <li class="fleet_tab active">
              <a href="#fleet_1" data-toggle="tab">
                <span class="fleet_num">1</span>&nbsp;
                <span class="fleet_name_shown"></span>
              </a>
            </li>
            <li class="fleet_tab">
              <a href="#fleet_2" data-toggle="tab">
                <span class="fleet_num">2</span>&nbsp;
                <span class="fleet_name_hidden"></span>
              </a>
            </li>
            <li class="fleet_tab">
              <a href="#fleet_3" data-toggle="tab">
                <span class="fleet_num">3</span>&nbsp;
                <span class="fleet_name_hidden"></span>
              </a>
            </li>
            <li class="fleet_tab">
              <a href="#fleet_4" data-toggle="tab">
                <span class="fleet_num">4</span>&nbsp;
                <span class="fleet_name_hidden"></span>
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="fleet_1">
              <div class="fleet_status alert" role="alert">
                <span class="status_info">No data</span>&nbsp;
                <span class="status_detail"></span>
                <span class="status_timer"></span>
              </div>
              <table class="table fleet_table">
                <tbody></tbody>
              </table>
            </div>
            <div class="tab-pane" id="fleet_2">
              <div class="fleet_status alert" role="alert">
                <span class="status_info">No data</span>&nbsp;
                <span class="status_detail"></span>
                <span class="status_timer"></span>
              </div>
              <table class="table fleet_table">
                <tbody></tbody>
              </table>
            </div>
            <div class="tab-pane" id="fleet_3">
              <div class="fleet_status alert" role="alert">
                <span class="status_info">No data</span>&nbsp;
                <span class="status_detail"></span>
                <span class="status_timer"></span>
              </div>
              <table class="table fleet_table">
                <tbody></tbody>
              </table>
            </div>
            <div class="tab-pane" id="fleet_4">
              <div class="fleet_status alert" role="alert">
                <span class="status_info">No data</span>&nbsp;
                <span class="status_detail"></span>
                <span class="status_timer"></span>
              </div>
              <table class="table fleet_table">
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default col-md-2" id="repair_panel">
      <div class="panel-heading">
        <div class="panel_title">修理</div>
        <span class="glyphicon glyphicon-triangle-bottom"
              style="float:right;"></span>
      </div>
      <div class="panel-body">
        <table class="table repair_table">
          <tbody>
            <tr>
              <td class="ship">No data</td>
              <td class="time"></td>
            </tr>
            <tr>
              <td class="ship">No data</td>
              <td class="time"></td>
            </tr>
            <tr>
              <td class="ship">No data</td>
              <td class="time"></td>
            </tr>
            <tr>
              <td class="ship">No data</td>
              <td class="time"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="panel panel-default col-md-2" id="expedition_panel">
      <div class="panel-heading">
        <div class="panel_title">远征</div>
        <span class="glyphicon glyphicon-triangle-bottom"
              style="float:right;"></span>
      </div>
      <div class="panel-body">
        <table class="table expedition_table">
          <tbody>
            <tr>
              <td id="fleet_2">2</td>
              <td class="time"></td>
            </tr>
            <tr>
              <td id="fleet_3">3</td>
              <td class="time"></td>
            </tr>
            <tr>
              <td id="fleet_4">4</td>
              <td class="time"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="panel panel-default col-md-2" id="build_panel">
      <div class="panel-heading">
        <div class="panel_title">建造</div>
        <span class="glyphicon glyphicon-triangle-bottom"
              style="float:right;"></span>
      </div>
      <div class="panel-body">
        <table class="table build_table">
          <tbody>
            <tr>
              <td class="ship">No data</td>
              <td class="time"></td>
            </tr>
            <tr>
              <td class="ship">No data</td>
              <td class="time"></td>
            </tr>
            <tr>
              <td class="ship">No data</td>
              <td class="time"></td>
            </tr>
            <tr>
              <td class="ship">No data</td>
              <td class="time"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="panel panel-default col-md-6" id="battle_panel">
      <div class="panel-heading">
        <div class="panel_title">战斗</div>
        <span class="glyphicon glyphicon-triangle-bottom"
              style="float:right;"></span>
      </div>
      <div class="panel-body">
        <table class="table table-bordered table.condense battle_table_friendly">
          <tbody>
            <!-- (tr>(td[rowspan="7"]>p.fleet_name{fleet_name}+p.formation{formation})+th.name+th.day_start{开始}+th.day_end{昼战}+th.night_end{夜战})+(tr>td.name{name}+(td.day_start>span.hp{100/100}+span.status{状态})+(td.day_end>span.hp{100}+span.status{状态})+(td.night_end>span.hp{100}+span.status{状态}))*6 -->
            <tr>
              <td rowspan="7">
                <p class="fleet_name">fleet_name</p>
                <p class="formation">formation</p>
              </td>
              <th class="name"></th>
              <th class="day_start">开始</th>
              <th class="day_end">昼战</th>
              <th class="night_end">夜战</th>
            </tr>
            <tr>
              <td class="name">name</td>
              <td class="day_start"><span class="hp">100/100</span><span class="status">状态</span></td>
              <td class="day_end"><span class="hp">100</span><span class="status">状态</span></td>
              <td class="night_end"><span class="hp">100</span><span class="status">状态</span></td>
            </tr>
            <tr>
              <td class="name">name</td>
              <td class="day_start"><span class="hp">100/100</span><span class="status">状态</span></td>
              <td class="day_end"><span class="hp">100</span><span class="status">状态</span></td>
              <td class="night_end"><span class="hp">100</span><span class="status">状态</span></td>
            </tr>
            <tr>
              <td class="name">name</td>
              <td class="day_start"><span class="hp">100/100</span><span class="status">状态</span></td>
              <td class="day_end"><span class="hp">100</span><span class="status">状态</span></td>
              <td class="night_end"><span class="hp">100</span><span class="status">状态</span></td>
            </tr>
            <tr>
              <td class="name">name</td>
              <td class="day_start"><span class="hp">100/100</span><span class="status">状态</span></td>
              <td class="day_end"><span class="hp">100</span><span class="status">状态</span></td>
              <td class="night_end"><span class="hp">100</span><span class="status">状态</span></td>
            </tr>
            <tr>
              <td class="name">name</td>
              <td class="day_start"><span class="hp">100/100</span><span class="status">状态</span></td>
              <td class="day_end"><span class="hp">100</span><span class="status">状态</span></td>
              <td class="night_end"><span class="hp">100</span><span class="status">状态</span></td>
            </tr>
            <tr>
              <td class="name">name</td>
              <td class="day_start"><span class="hp">100/100</span><span class="status">状态</span></td>
              <td class="day_end"><span class="hp">100</span><span class="status">状态</span></td>
              <td class="night_end"><span class="hp">100</span><span class="status">状态</span></td>
            </tr>
          </tbody>
        </table>
        <p id="battle_info"><span id="stance"></span></p>
        <table class="table battle_table_enemy">
          <tbody>
            <tr>
              <td rowspan="7">
                <p class="fleet_name">fleet_name</p>
                <p class="formation">formation</p>
              </td>
              <th class="name"></th>
              <th class="day_start">开始</th>
              <th class="day_end">昼战</th>
              <th class="night_end">夜战</th>
            </tr>
            <tr>
              <td class="name">name</td>
              <td class="day_start"><span class="hp">100/100</span><span class="status">状态</span></td>
              <td class="day_end"><span class="hp">100</span><span class="status">状态</span></td>
              <td class="night_end"><span class="hp">100</span><span class="status">状态</span></td>
            </tr>
            <tr>
              <td class="name">name</td>
              <td class="day_start"><span class="hp">100/100</span><span class="status">状态</span></td>
              <td class="day_end"><span class="hp">100</span><span class="status">状态</span></td>
              <td class="night_end"><span class="hp">100</span><span class="status">状态</span></td>
            </tr>
            <tr>
              <td class="name">name</td>
              <td class="day_start"><span class="hp">100/100</span><span class="status">状态</span></td>
              <td class="day_end"><span class="hp">100</span><span class="status">状态</span></td>
              <td class="night_end"><span class="hp">100</span><span class="status">状态</span></td>
            </tr>
            <tr>
              <td class="name">name</td>
              <td class="day_start"><span class="hp">100/100</span><span class="status">状态</span></td>
              <td class="day_end"><span class="hp">100</span><span class="status">状态</span></td>
              <td class="night_end"><span class="hp">100</span><span class="status">状态</span></td>
            </tr>
            <tr>
              <td class="name">name</td>
              <td class="day_start"><span class="hp">100/100</span><span class="status">状态</span></td>
              <td class="day_end"><span class="hp">100</span><span class="status">状态</span></td>
              <td class="night_end"><span class="hp">100</span><span class="status">状态</span></td>
            </tr>
            <tr>
              <td class="name">name</td>
              <td class="day_start"><span class="hp">100/100</span><span class="status">状态</span></td>
              <td class="day_end"><span class="hp">100</span><span class="status">状态</span></td>
              <td class="night_end"><span class="hp">100</span><span class="status">状态</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    

  </body>

  <script src="/javascripts/jquery-2.1.3.min.js"></script>
  <script src="/javascripts/jquery-ui.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/socket.io.js"></script>
  <script>
    var listener_num = <%= listener_num%>
    var is_bind_to_admiral = false;
    $('.panel').draggable({ addClasses: false
                          , handle: 'div.panel-heading'
                          });

    $('a[data-toggle="tab"]' ,'.fleet_tab').on('shown.bs.tab', function (e) {
      $('span:last-child' ,$(e.target)).attr('class', 'fleet_name_shown')
      $('span:last-child' ,$(e.relatedTarget)).attr('class', 'fleet_name_hidden')
    })

    $(document).ready(function () {
      $('.fleet_tab.active a:first').tab('show')
      $('.status_timer').hide()
    })

    $('.glyphicon-triangle-bottom').click(function () {
      $panelBody =  $(this).closest('.panel').children('.panel-body')
      if ($panelBody.css('display')=='none')
        $panelBody.show()
      else
        $panelBody.hide()
    })

    $("#refresh_game").click(function () {
      $("#game_frame").attr("src"
        , "http://www.dmm.com/netgame/social/-/gadgets/=/app_id=854854/")
    })
  </script>
  <script src="/javascripts/listener.js"></script>
  <script src="/javascripts/socket.js"></script>
</html>