<html>
  <head>
    <title>Develope</title>
    <style type="text/css">
      .battle_table_friendly,
      .battle_table_combined {
        margin-bottom: 0 !important;
      }
      p#battle_info {
        margin-top: 10px;
      }
      span.status {
        display: inline-block !important;
        margin-top: 3.5px !important;
      }
      #page_nav {
        min-height: 30px;
      }
      button.frame_btn {
        padding: 6px 6px !important;
      }
      #fleet_panel_wrapper .panel-body {
        padding-left: 0;
        padding-right: 0;
      }
      .fleet_statics {
        background-color: blue;
      }
      #exp_now_level,
      #exp_target_level {
        width: 50px;
      }
      #game_frame {
        position: relative;
        margin: -79px 0px 0px -200px;
      }
      .fleet_status {
        margin-bottom: 0px !important;
      }
      .fleet_table {
        margin-bottom: 0px !important;
      }
      #game_wrapper {
        height: 480;
        overflow: hidden;
        position: relative;
        padding-top: 0px;
        padding: 0px;
      }
      #game_panel {
        width: 800;
      }
      .mytab {
        width:60px;
      }
      .exp_next,  
      .ship_type {
        font-size: small;
      }
      .table.expedition_table>tbody>tr:nth-of-type(1)>td,
      .table.build_table>tbody>tr:nth-of-type(1)>td,
      .table.repair_table>tbody>tr:nth-of-type(1)>td,
      .table.fleet_table>tbody>tr:nth-of-type(1)>td {
        border-top: none;
      }
      .table.fleet_table>tbody>tr>td {
        vertical-align: middle;
      }
      .progress.health_bar {
        margin-bottom: 0px;
        height: 10px;
      }
      #repair_panel,
      #battle_panel,
      #timer_panel,
      #expedition_panel,
      #game_panel,
      #build_panel,
      #fleet_panel,
      #exp_panel,
      #quest_panel {
        padding: 0px;
      }
      .quest_table>tbody>tr>td {
        font-size: small;
      }
      .quest_table>tbody>tr>td.type {
        width: 10px !important;
      }
      .quest_table>tbody>tr>td.quest_progress {
        width: 20px;
      }
      span.fleet_name_hidden {
        display: none;
      }
      span.fleet_name_shown {
        display: inline;
      }
      html * {
        font-family: 'Microsoft YaHei';
      }
      .btn_wrapper {
        text-align: right;
        display: inline-block;
        width: 80%;
      }
      .panel_title {
        display: inline-block;
      }

      #battle_panel>.panel-body>table {
        font-size: small;
      }
      .label-caution {
        background-color: yellow;
      }
      th.day_end,
      th.night_end,
      th.day_start,
      td.day_end,
      td.night_end,
      td.day_start {
        width: 100px;
        padding-bottom: 2px !important;
        padding-top: 2px !important;
      }
      .battle_table_friendly>tbody>tr>th.name,
      .battle_table_friendly>tbody>tr>td.name,
      .battle_table_combined>tbody>tr>th.name,
      .battle_table_combined>tbody>tr>td.name,
      .battle_table_enemy>tbody>tr>th.name,
      .battle_table_enemy>tbody>tr>td.name {
        width: 150px;
        padding-bottom: 2px !important; 
        padding-top: 2px !important;
      }
      .battle_table_friendly>thead>tr>td,
      .battle_table_combined>thead>tr>td,
      .battle_table_enemy>thead>tr>td {
        padding-bottom: 2px !important;
        padding-top: 2px !important;
      }
      span.status {
        float:right;
      }
      td.time {
        text-align: center;
      }
      .fleet_table {
        overflow: scroll;
      }
      .timer_title {
        margin-bottom: 0px;
      }
      #timer_panel>.panel-body .table {
        margin-bottom: 5px !important;
      }
      .build_table>tbody>tr>td,
      .expedition_table>tbody>tr>td,
      .repair_table>tbody>tr>td {
        padding-bottom: 0px !important;
      }
      #timer_panel>.panel-body {
        padding-left: 5px !important;
        padding-right: 5px !important;
      }
      #expedition_panel_wrapper,
      #repair_panel_wrapper,
      #build_panel_wrapper {
        display:block;
      }
      .minify_table {
        float:right;
      }
      .outside_panel {
        display: block !important;
        visibility: visible !important;
      }
      table#ship_full_list>thead {
        background-color: grey;
      }
    </style>
    <link rel="stylesheet" href=<%=version_css_path%>>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/bootstrap-formhelpers.min.css">
    <link rel="stylesheet" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" href="css/jquery-ui.min.css">
    <link rel="stylesheet" href="css/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="css/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="css/jquery.dynatable.css">
    <link rel="stylesheet" href="css/jquery.tablescroll.css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" style="-webkit-app-region: drag" id="page_nav">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" style="padding-right:6px;">
          <div id="frame_btns" style="float:right;">
            <button type="button" class="btn btn-default navbar-btn frame_btn" id="close_window"><span class="glyphicon glyphicon-remove"></span></button>
            <button type="button" class="btn btn-default navbar-btn frame_btn" id="minimize_window"><span class="glyphicon glyphicon-minus"></span></button>

            <button type="button" class="btn btn-default navbar-btn frame_btn" id="maximize_window"><span class="glyphicon glyphicon-resize-full"></span></button>
            
            <button type="button" class="btn btn-default navbar-btn frame_btn" id="refresh_window"><span class="glyphicon glyphicon-refresh"></span></button>
            <button type="button" class="btn btn-default navbar-btn frame_btn" id="open_console"><span class="glyphicon glyphicon-console"></span></button>
          </div>
          
          <a class="navbar-brand" href="#">KCN</a>
        </div>
      </div><!-- /.container-fluid -->
    </nav>
    <div class="panel panel-default" id="game_panel">
      <div class="panel-heading">
        <div class="panel_title" id="admiral_name">
          <span id="admiral_name"></span>&nbsp;
          <span id="admiral_lv"></span>&nbsp;
          <span id="admiral_rank"></span>&nbsp;
        </div>
        <span class="my_icons" style="float:right;">
          <div class="dropdown" style="display:inline-block;">
            <span class="glyphicon glyphicon-menu-hamburger dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"></span>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation" id="disp_battle_panel"><a role="menuitem" tabindex="-1" href="#">出击</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
            </ul>
          </div>
          &nbsp;
          <span class="glyphicon glyphicon-cog" id="config_app" data-toggle="modal" data-target="#setting_modal"></span>&nbsp;
          <span class="glyphicon glyphicon-triangle-bottom minify_panel"></span>&nbsp;
          <span class="glyphicon glyphicon-refresh" id="refresh_game"></span>
        </span>
      </div>
      <div class="panel-body" id="game_wrapper">
        <iframe id="game_frame" scrolling="no" width = "1200" height = "1200">
        </iframe>
      </div>

    </div>

    <div role="tabpanel" id="disp_main_panel">
      <!-- Nav tabs -->
      <ul class="nav nav-pills" role="tablist" id="disp_main_pills">
        <li role="presentation" class="active"><a href="#fleet_pill" aria-controls="fleet_pill" role="tab" data-toggle="tab">舰队</a></li>
        <li role="presentation"><a href="#timers_pill" aria-controls="timers_pill" role="tab" data-toggle="tab">时间</a></li>
        <li role="presentation"><a href="#quest_pill" aria-controls="quest_pill" role="tab" data-toggle="tab">任务</a></li>
        <li role="presentation"><a href="#battle_pill" aria-controls="battle_pill" role="tab" data-toggle="tab">出击</a></li>
        <li role="presentation"><a href="#exp_cal_pill" aria-controls="exp_cal_pill" role="tab" data-toggle="tab">经验计算</a></li>
        <li role="presentation"><a href="#flist_pill" aria-controls="flist_pill" role="tab" data-toggle="tab">舰娘一览</a></li>
        <div class="dropdown" style="float:right;height:40px;">
          <button class="btn btn-default" id="add_pill" data-toggle="dropdown" aria-expanded="true" style="vertical-align:middle;height:100%">
              <span class="glyphicon glyphicon-plus"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="add_pill">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
        </div>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane droppable_pane active" id="fleet_pill" content='fleet_panel_wrapper'>
          <div id="fleet_panel_wrapper" class="panel_wrapper">
          <div class="panel panel-default" id="fleet_panel">
            <div class="panel-heading">
              <div class="panel_title">舰队</div>
              <span class="my_icons" style="float:right;">
                <span class="glyphicon glyphicon-triangle-bottom minify_panel"></span>&nbsp;
                <span class="glyphicon glyphicon-remove hide_panel"></span>
              </span>
            </div>
            <div class="panel-body">
              <div class="tabable" id="tab_fleet">
                <ul class="nav nav-tabs">
                  <li class="fleet_tab active">
                    <a href="#fleet_1" data-toggle="tab">
                      <span class="fleet_num">1</span>&nbsp;
                      <span class="fleet_name_shown"></span>
                    </a>
                  </li>
                  <li class="fleet_tab">
                    <a href="#fleet_2" data-toggle="tab">
                      <span class="fleet_num">2</span>&nbsp;
                      <span class="fleet_name_hidden"></span>
                    </a>
                  </li>
                  <li class="fleet_tab">
                    <a href="#fleet_3" data-toggle="tab">
                      <span class="fleet_num">3</span>&nbsp;
                      <span class="fleet_name_hidden"></span>
                    </a>
                  </li>
                  <li class="fleet_tab">
                    <a href="#fleet_4" data-toggle="tab">
                      <span class="fleet_num">4</span>&nbsp;
                      <span class="fleet_name_hidden"></span>
                    </a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="fleet_1">
                    <div class="fleet_status alert" role="alert">
                      <span class="status_info">No data</span>&nbsp;
                      <span class="status_detail"></span>
                      <span class="status_timer"></span>
                    </div>
                    <table class="table fleet_table">
                      <tbody></tbody>
                    </table>
                  </div>
                  <div class="tab-pane" id="fleet_2">
                    <div class="fleet_status alert" role="alert">
                      <span class="status_info">No data</span>&nbsp;
                      <span class="status_detail"></span>
                      <span class="status_timer"></span>
                    </div>
                    <table class="table fleet_table">
                      <tbody></tbody>
                    </table>
                  </div>
                  <div class="tab-pane" id="fleet_3">
                    <div class="fleet_status alert" role="alert">
                      <span class="status_info">No data</span>&nbsp;
                      <span class="status_detail"></span>
                      <span class="status_timer"></span>
                    </div>
                    <table class="table fleet_table">
                      <tbody></tbody>
                    </table>
                  </div>
                  <div class="tab-pane" id="fleet_4">
                    <div class="fleet_status alert" role="alert">
                      <span class="status_info">No data</span>&nbsp;
                      <span class="status_detail"></span>
                      <span class="status_timer"></span>
                    </div>
                    <table class="table fleet_table">
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-footer" style="position:absolute;bottom:0;width:100%;"><span>制空</span><span id="fleet_anti_air">unkown</span><span>索敌</span><span>平均等级</span><span>总等级</span><span>速度</span></div>
          </div> <!-- fleet_panel -->
          </div>          
        </div>
        <div role="tabpanel" class="tab-pane droppable_pane" id="timers_pill">
          <div id="timer_panel_wrapper" class="panel_wrapper">
          <div class="panel panel-default" id="timer_panel">
            <div class="panel-heading">
              <div class="panel_title">Timers</div>
              <span class="my_icons" style="float:right;">
                <span class="glyphicon glyphicon-triangle-bottom minify_panel"></span>
              </span>       
            </div>
            <div class="panel-body">
              <div id="expedition_panel_wrapper">
                <p class="timer_title">远征<span class="glyphicon glyphicon-triangle-bottom minify_table"></span></p>
                <table class="table expedition_table">
                  <tbody>
                    <tr>
                      <td id="fleet_2">2</td>
                      <td class="time"></td>
                    </tr>
                    <tr>
                      <td id="fleet_3">3</td>
                      <td class="time"></td>
                    </tr>
                    <tr>
                      <td id="fleet_4">4</td>
                      <td class="time"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div id="repair_panel_wrapper">
                <p class="timer_title">入渠<span class="glyphicon glyphicon-triangle-bottom minify_table"></span></p>
                <table class="table repair_table">
                  <tbody>
                    <tr>
                      <td class="ship">No data</td>
                      <td class="time"></td>
                    </tr>
                    <tr>
                      <td class="ship">No data</td>
                      <td class="time"></td>
                    </tr>
                    <tr>
                      <td class="ship">No data</td>
                      <td class="time"></td>
                    </tr>
                    <tr>
                      <td class="ship">No data</td>
                      <td class="time"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div id="build_panel_wrapper">
                <p class="timer_title">建造<span class="glyphicon glyphicon-triangle-bottom minify_table"></span></p>
                <table class="table build_table">
                  <tbody>
                    <tr>
                      <td class="ship">No data</td>
                      <td class="time"></td>
                    </tr>
                    <tr>
                      <td class="ship">No data</td>
                      <td class="time"></td>
                    </tr>
                    <tr>
                      <td class="ship">No data</td>
                      <td class="time"></td>
                    </tr>
                    <tr>
                      <td class="ship">No data</td>
                      <td class="time"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          </div>          
        </div>
        <div role="tabpanel" class="tab-pane droppable_pane" id="quest_pill" content='quest_panel_wrapper'>
          <div id="quest_panel_wrapper" class="panel_wrapper">
            <div class="panel panel-default" id="quest_panel">
              <div class="panel-heading">
                <div class="panel_title">任务</div>
                <span class="glyphicon glyphicon-triangle-bottom minify_panel"
                      style="float:right;"></span>
              </div>
              <div class="panel-body">
                <div class="tabable" id="quest_tab">
                  <ul class="nav nav-tabs">
                    <li><a href="#active_quest" data-toggle="tab">当前</a></li>
                    <li><a href="#daily_quest" data-toggle="tab">日常</a></li>
                    <li><a href="#weekly_quest" data-toggle="tab">周常</a></li>
                    <li><a href="#monthly_quest" data-toggle="tab">月常</a></li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" id="active_quest">
                      <table class="table quest_table">
                        <tbody>
                          <tr>
                            <td class="type"></td>
                            <td class="name"></td>
                            <td class="quest_progress"></td>
                          </tr>
                          <tr>
                            <td class="type"></td>
                            <td class="name"></td>
                            <td class="quest_progress"></td>
                          </tr>
                          <tr>
                            <td class="type"></td>
                            <td class="name"></td>
                            <td class="quest_progress"></td>
                          </tr>
                          <tr>
                            <td class="type"></td>
                            <td class="name"></td>
                            <td class="quest_progress"></td>
                          </tr>
                          <tr>
                            <td class="type"></td>
                            <td class="name"></td>
                            <td class="quest_progress"></td>
                          </tr>
                          <tr>
                            <td class="type"></td>
                            <td class="name"></td>
                            <td class="quest_progress"></td>
                          </tr>
                        </tbody>
                      </table>
                    </div> <!-- active_quest -->
                    <div class="tab-pane" id="daily_quest"></div>
                    <div class="tab-pane" id="weekly_quest"></div>
                    <div class="tab-pane" id="monthly_quest"></div>
                  </div>
                </div>

              </div>
            </div> <!-- quest_panel -->
          </div>
        </div>
        <div role="tabpanel" class="tab-pane droppable_pane" id="battle_pill">
          <div class="panel_wrapper" id="battle_panel_wrapper">
          <div class="panel panel-default" id="battle_panel">
            <div class="panel-heading">
              <div class="panel_title">战斗
                <span id="map"></span><span id="map_point"></span>
              </div>
              <span class="glyphicon glyphicon-triangle-bottom minify_panel"
                    style="float:right;"></span>
            </div>
            <div class="panel-body">
              <div id="no_battle"><p>未出击</p></div>
              <table class="table table-bordered table-condense battle_table_friendly" style="display:none;">
                <thead>
                  <tr>
                    <td colspan="4"><span class="fleet_name">fleet name</span>&nbsp;<span class="formation">formation</span>&nbsp;<span class="casualty"></span></td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th class="name"></th>
                    <th class="day_start">开始</th>
                    <th class="day_end">昼战结束</th>
                    <th class="night_end">夜战结束</th>
                  </tr>
                  <tr>
                    <td class="name">name</td>
                    <td class="day_start"><span class="hp">100/100</span><span class="status">状态</span></td>
                    <td class="day_end"><span class="hp">100</span><span class="status">状态</span></td>
                    <td class="night_end"><span class="hp">100</span><span class="status">状态</span></td>
                  </tr>
                  <tr>
                    <td class="name">name</td>
                    <td class="day_start"><span class="hp">100/100</span><span class="status">状态</span></td>
                    <td class="day_end"><span class="hp">100</span><span class="status">状态</span></td>
                    <td class="night_end"><span class="hp">100</span><span class="status">状态</span></td>
                  </tr>
                  <tr>
                    <td class="name">name</td>
                    <td class="day_start"><span class="hp">100/100</span><span class="status">状态</span></td>
                    <td class="day_end"><span class="hp">100</span><span class="status">状态</span></td>
                    <td class="night_end"><span class="hp">100</span><span class="status">状态</span></td>
                  </tr>
                  <tr>
                    <td class="name">name</td>
                    <td class="day_start"><span class="hp">100/100</span><span class="status">状态</span></td>
                    <td class="day_end"><span class="hp">100</span><span class="status">状态</span></td>
                    <td class="night_end"><span class="hp">100</span><span class="status">状态</span></td>
                  </tr>
                  <tr>
                    <td class="name">name</td>
                    <td class="day_start"><span class="hp">100/100</span><span class="status">状态</span></td>
                    <td class="day_end"><span class="hp">100</span><span class="status">状态</span></td>
                    <td class="night_end"><span class="hp">100</span><span class="status">状态</span></td>
                  </tr>
                  <tr>
                    <td class="name">name</td>
                    <td class="day_start"><span class="hp">100/100</span><span class="status">状态</span></td>
                    <td class="day_end"><span class="hp">100</span><span class="status">状态</span></td>
                    <td class="night_end"><span class="hp">100</span><span class="status">状态</span></td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-bordered table-condense battle_table_combined" style="display:none;">
                <thead>
                  <tr style="display:none;">
                    <td colspan="4"><span class="fleet_name">fleet name</span>&nbsp;<span class="formation">formation</span>&nbsp;<span class="casualty"></span></td>
                  </tr>
                </thead>
                <tbody>
                  <tr style="display:none;">
                    <th class="name"></th>
                    <th class="day_start">开始</th>
                    <th class="day_end">昼战结束</th>
                    <th class="night_end">夜战结束</th>
                  </tr>
                  <tr>
                    <td class="name">name</td>
                    <td class="day_start"><span class="hp">100/100</span><span class="status">状态</span></td>
                    <td class="day_end"><span class="hp">100</span><span class="status">状态</span></td>
                    <td class="night_end"><span class="hp">100</span><span class="status">状态</span></td>
                  </tr>
                  <tr>
                    <td class="name">name</td>
                    <td class="day_start"><span class="hp">100/100</span><span class="status">状态</span></td>
                    <td class="day_end"><span class="hp">100</span><span class="status">状态</span></td>
                    <td class="night_end"><span class="hp">100</span><span class="status">状态</span></td>
                  </tr>
                  <tr>
                    <td class="name">name</td>
                    <td class="day_start"><span class="hp">100/100</span><span class="status">状态</span></td>
                    <td class="day_end"><span class="hp">100</span><span class="status">状态</span></td>
                    <td class="night_end"><span class="hp">100</span><span class="status">状态</span></td>
                  </tr>
                  <tr>
                    <td class="name">name</td>
                    <td class="day_start"><span class="hp">100/100</span><span class="status">状态</span></td>
                    <td class="day_end"><span class="hp">100</span><span class="status">状态</span></td>
                    <td class="night_end"><span class="hp">100</span><span class="status">状态</span></td>
                  </tr>
                  <tr>
                    <td class="name">name</td>
                    <td class="day_start"><span class="hp">100/100</span><span class="status">状态</span></td>
                    <td class="day_end"><span class="hp">100</span><span class="status">状态</span></td>
                    <td class="night_end"><span class="hp">100</span><span class="status">状态</span></td>
                  </tr>
                  <tr>
                    <td class="name">name</td>
                    <td class="day_start"><span class="hp">100/100</span><span class="status">状态</span></td>
                    <td class="day_end"><span class="hp">100</span><span class="status">状态</span></td>
                    <td class="night_end"><span class="hp">100</span><span class="status">状态</span></td>
                  </tr>
                </tbody>
              </table>
              <p id="battle_info"><span id="stance"></span></p>
              <p id="peace"></p>
              <table class="table battle_table_enemy table-bordered table-condense" style="display:none;">
                <thead>
                  <tr>
                    <td colspan="4"><span class="fleet_name">fleet name</span>&nbsp;<span class="formation">formation</span>&nbsp;<span class="casualty"></span></td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th class="name"></th>
                    <th class="day_start">开始</th>
                    <th class="day_end">昼战结束</th>
                    <th class="night_end">夜战结束</th>
                  </tr>
                  <tr>
                    <td class="name">name</td>
                    <td class="day_start"><span class="hp">100/100</span><span class="status">状态</span></td>
                    <td class="day_end"><span class="hp">100</span><span class="status">状态</span></td>
                    <td class="night_end"><span class="hp">100</span><span class="status">状态</span></td>
                  </tr>
                  <tr>
                    <td class="name">name</td>
                    <td class="day_start"><span class="hp">100/100</span><span class="status">状态</span></td>
                    <td class="day_end"><span class="hp">100</span><span class="status">状态</span></td>
                    <td class="night_end"><span class="hp">100</span><span class="status">状态</span></td>
                  </tr>
                  <tr>
                    <td class="name">name</td>
                    <td class="day_start"><span class="hp">100/100</span><span class="status">状态</span></td>
                    <td class="day_end"><span class="hp">100</span><span class="status">状态</span></td>
                    <td class="night_end"><span class="hp">100</span><span class="status">状态</span></td>
                  </tr>
                  <tr>
                    <td class="name">name</td>
                    <td class="day_start"><span class="hp">100/100</span><span class="status">状态</span></td>
                    <td class="day_end"><span class="hp">100</span><span class="status">状态</span></td>
                    <td class="night_end"><span class="hp">100</span><span class="status">状态</span></td>
                  </tr>
                  <tr>
                    <td class="name">name</td>
                    <td class="day_start"><span class="hp">100/100</span><span class="status">状态</span></td>
                    <td class="day_end"><span class="hp">100</span><span class="status">状态</span></td>
                    <td class="night_end"><span class="hp">100</span><span class="status">状态</span></td>
                  </tr>
                  <tr>
                    <td class="name">name</td>
                    <td class="day_start"><span class="hp">100/100</span><span class="status">状态</span></td>
                    <td class="day_end"><span class="hp">100</span><span class="status">状态</span></td>
                    <td class="night_end"><span class="hp">100</span><span class="status">状态</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>           
          </div>
        </div>
        <div class="tab-pane droppable_pane" id="exp_cal_pill" role="tabpanel">
          <div class="panel_wrapper" id="exp_panel_wrapper">
          <div class="panel panel-default" id="exp_panel">
            <div class="panel-heading">
              <div class="panel_title">经验计算器</div>
              <span class="glyphicon glyphicon-triangle-bottom minify_panel"
                    style="float:right;"></span>
            </div>
            <div class="panel-body">
              <form style="display:inline-block">
                <span>舰娘</span>
                <select class="selectpicker" id="ship_select_picker" data-size="5">
                  <option value="a">1</option>
                  <option value="a">2</option>
                  <option value="a">3</option>
                  <option value="a">4</option>
                  <option value="a">5</option>
                </select>
                
              </form>
              <button class="btn btn-default" id="update_ship">更新</button>
              <form class="form-inline">
                <span>现在等级</span>
                <input id="exp_now_level" type="text" class="form-control bfh-number" data-min="1" data-max="150">
                <span>exp</span>
                <input type="text" class="form-control" id="exp_now">
              </form>

              <form class="form-inline">
                <span>目标等级</span>
                <input type="text" id="exp_target_level" class="form-control bfh-number" data-min="1" data-max="150">
                <span>exp</span>
                <input type="text" class="form-control" id="exp_target">
              </form>
              
              <form class="form-inline">
                <span>海域</span>
                <select id="map_area">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3" selected="true">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                </select>
                <span>-</span>
                <select id="map">
                  <option value="1">1</option>
                  <option value="2" selected="true">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
                <span>评价</span>
                <select id="rank">
                  <option value="s">S</option>
                  <option value="a">A</option>
                  <option value="b">B</option>
                  <option value="c">C</option>
                  <option value="d">D</option>
                </select>
                <input type="checkbox" aria-label="..." id="flagship">
                <span>旗舰</span>
                <input type="checkbox" aria-label="..." id="mvp">
                <span>MVP</span>
              </form>

              <hr>
              <span>单次经验</span>&nbsp;<span id="one_turn"></span>
              <br>
              <span>战斗次数</span>&nbsp;<span id="turns_left"></span>
            </div>
          </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane droppable_pane" id="flist_pill" content='flist_panel_wrapper'>
          <div class="panel_wrapper" id="flist_panel_wrapper">
          <div class="panel panel-default" id="flist_panel">
            <div class="panel-heading">
              <span>舰娘一览</span>
            </div>
            <div class="panel-body">
              <button class="btn btn-default" id="update_ship_list">更新</button>
            </div>
            <table id="ship_full_list" class="table">
              <thead>
                <tr>
                  <th data-dynatable-type="number">ID</th>
                  <th>Name</th>
                  <th data-dynatable-type="number">Level</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="setting_modal" tabindex="-1" role="dialog" 
         aria-labelledby="setting_modal_label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" 
                    aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="setting_modal_label">设置</h4>
          </div>
          <div class="modal-body">
            <form class="form">
              <div class="form-group">
                <input type="checkbox" id="proxy_state">&nbsp;
                <label for="proxy_ip">代理设置</label>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="input-group">
                      <div class="input-group-addon">IP</div>
                      <input type="text" id="proxy_ip" class="form-control">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="input-group">
                      <div class="input-group-addon">端口</div>
                      <input type="text" id="proxy_port" class="form-control">
                    </div> 
                  </div>
                </div>
                
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" id="submit_setting">确定</button>
          </div>
        </div>
      </div>
    </div>

  </body>

  <script src="js/jquery-2.1.3.min.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/bootstrap-formhelpers.js"></script>
  <script src="js/socket.io.js"></script>
  <script src="js/bootstrap-select.min.js"></script>
  <script src="js/purl.js"></script>
  <script src="js/jquery.dynatable.js"></script>
  <script src="js/jquery.tablescroll.js"></script>
  <script src=<%=version_js_path%>></script>
  <script>
    var listener_num = <%= listener_num%>
      , is_bind_to_admiral = false
      , globalFleet = {}
      , globalMixId = ''
      , globalShips = {}
      , gameSrc="http://www.dmm.com/netgame/social/-/gadgets/=/app_id=854854/"
      , config = {}
      , tempConfig = {}
      , shipDynatable = {}

    function getSetting () {
      $.get('/setting', function (data) {
        config = data
      })
    }

    function getProxy () {
      var ip = $('#proxy_ip').val()
        , port = $('#proxy_port').val()
      if ($('#proxy_state').is(':checked'))
        tempConfig.proxy = 'http://'+ip+':'+port
      console.log(tempConfig)
    }

    getSetting()
    
    $('a[data-toggle="tab"]' ,'.fleet_tab').on('shown.bs.tab', function (e) {
      $('span:last-child', $(e.target)).attr('class', 'fleet_name_shown')
      $('span:last-child', $(e.relatedTarget)).attr( 'class'
                                                   , 'fleet_name_hidden')
    })
    function revertOutside (dropObj) {
      console.log('outside')
      if (!dropObj[0]) return true
      if (dropObj[0].localName == 'body') {
        return false
      }
      else if (dropObj.hasClass('droppable_pane')) {
        console.log('revert function changed')
        $(this).draggable('option', 'revert', revertInside)
        return false
      }
      else return true
    }
    function revertInside (dropObj) {
      if (!dropObj[0]) return true
      if (dropObj[0].localName == 'body') {
        $(this).draggable('option', 'revert', revertOutside)
        return false
      }
      else return true
    }

    $(document).ready(function () {
      shipDynatable = $('#ship_full_list').dynatable({
        readers: {
          'level': function(el, record) {
            return Number(el.innerHTML) || 0
          },
          'id': function (el, record) {
            return Number(el.innerHTML) || 0
          }
        },
        features: {
          paginate: true,
          search: false,
          recordCount: false,
          perPageSelect: false
        }
      }).data('dynatable')
    })

    $('.glyphicon-triangle-bottom.minify_panel').click(function () {
      $panelBody =  $(this).closest('.panel').children('.panel-body')
      if (($panelBody).length == 0)
        $panelBody = $(this).closest('.panel').children('.table')
      if ($panelBody.css('display')=='none')
        $panelBody.show()
      else
        $panelBody.hide()
    })

    $('.glyphicon-triangle-bottom.minify_table').click(function () {
      $panelBody = $(this).parent().parent().children('.table')
      console.log($panelBody)
      if ($panelBody.css('display')=='none')
        $panelBody.show()
      else
        $panelBody.hide()
    })

    $('#setting_modal').on('shown.bs.modal', function (event) {
      console.log('update')
      tempConfig = $.extend(true, {}, config)
      if (tempConfig.proxy) {
        $('#proxy_state', $(this)).attr('checked', true)
        var proxy = $.url(tempConfig.proxy)
        $('#proxy_ip', $(this)).val(proxy.attr('host'))
        $('#proxy_port', $(this)).val(proxy.attr('port'))
      }
      else {
        $('#proxy_state', $(this)).attr('checked', false)
      }
    })

    $('.hide_panel').click(function () {
      var wrapperId = $(this).parents('.panel_wrapper')[0].id
      $wrapper = $('#'+wrapperId)
      $pillPane = $('div[content='+wrapperId+']')
      if ($wrapper.hasClass('outside_panel')) {
        $wrapper.removeClass('outside_panel')
        $wrapper.detach().appendTo($pillPane)
      }
      // pillId = $pillPane[0].id
      var targetLink = $('a[aria-controls='+$pillPane[0].id+']')
      targetLink.css('display', 'none')
      targetLink.parent().next().children('a').tab('show')
    })

    $("#refresh_game").click(function () {
      $("#game_frame").attr("src", gameSrc)
    })

    $('#submit_setting').click(function () {
      $.post('/setting', JSON.stringify(tempConfig), function (data) {
        // config = data
        console.log(data)
        if (data='success')
          config = tempConfig
        else
          getSetting()
      })
    })

    $('#proxy_state').change(function () {
      if (this.checked) {

      }
      else {
        delete tempConfig.proxy
      }
    })

    $('#proxy_ip').change(getProxy)
    $('#proxy_port').change(getProxy)

    $('#update_ship_list').click(function () {
      $.get('/rest/ships/'+globalMixId, function (data) {
        // console.log(data)
        $tbody = $('#ship_full_list>tbody')
        $tbody.html('')
        for (var i in data) {
          $tbody.append(getShipListRow(data[i]))
        }
        // shipDynatable.settings.dataset.originalRecords = data
        newRecords = shipDynatable.records.getFromTable()
        console.log(newRecords)
        // shipDynatable.records.updateFromJson(data)
        shipDynatable.settings.dataset.originalRecords = newRecords
        console.log(shipDynatable.settings.dataset.originalRecords)
        shipDynatable.process()
        shipDynatable.dom.update()
      })
    })

    function getShipListRow (ship) {
      var res = '<tr>'
              +   '<td class="ship_id">'+ship.id+'</td>'
              +   '<td class="ship_name">'+ship.name+'</td>'
              +   '<td class="ship_level">'+ship.level+'</td>'
              + '</tr>'
      return res
    }


  </script>
  <script src="js/exp-calculator.js"></script>
  <script src="js/listener.js"></script>
  <script src="js/socket.js"></script>
</html>