<html>
	<head>
		<title>Listener</title>
		<style type="text/css">
			.test_division{
				float: left;
				width: 200px;
				height: auto;
				border: 2px solid #000000;
				margin-left: 10px;
				padding: 10px;
			}
			#debug {
				font-size: 14px;
				font-weight: normal;
				resize: none;
				overflow-y: scroll;
				max-height: 200px;
				min-height: 200px;
			}
		</style>
	</head>
	<body>
		<div class="test_division" id="resource">
			<h2>资源</h2>
			<li id="res1">
				<p><span>油 </span><span class="amount">null</span></p>
			</li>
			<li id="res2">
				<p><span>弹 </span><span class="amount">null</span></p>
			</li>
			<li id="res3">
				<p><span>钢 </span><span class="amount">null</span></p>
			</li>
			<li id="res4">
				<p><span>铝 </span><span class="amount">null</span></p>
			</li>
			<li id="res5">
				<p><span>高速建造 </span><span class="amount">null</span></p>
			</li>
			<li id="res6">
				<p><span>高速修复 </span><span class="amount">null</span></p>
			</li>
			<li id="res7">
				<p><span>资材 </span><span class="amount">null</span></p>
			</li>
			<li id="res8">
				<p><span>改修资材 </span><span class="amount">null</span></p>
			</li>
		</div>
		<div class="test_division" id="basic">
			<h2 id="name">null</h2>
			<p id="admiral_info">
				<span>lv </span><span id="level">null</span>
				<span> </span>
				<span id="rank">null</span>
				<br>
				<span>exp </span>
				<span id="exp">null</span>
			</p>
			<p id="ship_number_info">
				<span>舰娘数量 </span>
				<span id="current_ship_num">null</span>
				<span> / </span>
				<span id="max_ship_num">null</span>
			</p>
			<p id="equipment_num_info">
				<span>装备数量 </span>
				<span id="current_equipment_num">null</span>
				<span> / </span>
				<span id="max_equioment_num">null</span>
			</p>
			<p id="fleet_num_info">
				<span>舰队数量 </span>
				<span id="fleet_num">null</span>
			</p>
			<p id="repair_dock_info">
				<span>修理渠 </span>
				<span id="repair_dock_num">null</span>
			</p>
			<p id="build_dock_info">
				<span>建造渠 </span>
				<span id="build_dock_num">null</span>
			</p>
		</div>
		<div class="test_division" id="repair">
			<h2>修理渠</h2>
			<li class="repair_dock" id="1">
				<span id="name">---</span>
				<span> </span>
				<span id="time">00:00:00</span>
			</li>
			<li class="repair_dock" id="2">
				<span id="name">---</span>
				<span> </span>
				<span id="time">00:00:00</span>
			</li>
			<li class="repair_dock" id="3">
				<span id="name">---</span>
				<span> </span>
				<span id="time">00:00:00</span>
			</li>
			<li class="repair_dock" id="4">
				<span id="name">---</span>
				<span> </span>
				<span id="time">00:00:00</span>
			</li>
		</div>
		<div class="test_division" id="build">
			<h2>建造渠</h2>
			<li class="build_dock" id="1">
				<span id="name">---</span>
				<span> </span>
				<span id="time1">00:00:00</span>
			</li>
			<li class="build_dock" id="2">
				<span id="name">---</span>
				<span> </span>
				<span id="time2">00:00:00</span>
			</li>
			<li class="build_dock" id="3">
				<span id="name">---</span>
				<span> </span>
				<span id="time3">00:00:00</span>
			</li>
			<li class="build_dock" id="4">
				<span id="name">---</span>
				<span> </span>
				<span id="time4">00:00:00</span>
			</li>
		</div>
		<div id="stream">
			<textarea name="console" id="debug" cols="30" rows="10">
			</textarea>
		</div>
	</body>

	<script src="/javascripts/jquery-2.1.3.min.js"></script>
	<script src="/javascripts/socket.io.js"></script>
	<script>
		// var listener_num = {{listener_num}};
		var is_bind_to_admiral = false;

	</script>
	<script src="/javascripts/socket.js"></script>
	<script src="/javascripts/listener.js"></script>
	
</html>