<html>
  <head>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/bootstrap-theme.min.css">
  </head>
  <body>
    <!-- "http://www.dmm.com/netgame/social/-/gadgets/=/app_id=854854/" -->
    <div class="container-fluid">
      <div id="game_div" class="col-md-8" style="position:relative;width:800px;height:480px;overflow:hidden">
        <iframe 
          id="game_frame" 
          name="game_frame" 
          width="900" 
          height="1200" 
          scrolling="no" 
          frameborder="1" 
          border="0" 
          style="positon: relative;
            margin: -78px 0px 0px -71px;
            border-style: solid;
            border-width: 1px;
            border-color: red"
          >
        </iframe>
      </div>

      <div class="col-md-4">
        <ul class="nav nav-pills nav-stacked col-md-2">
          <li class="active"><a href="#tab_a" data-toggle="pill">资源</a></li>
          <li><a href="#tab_b" data-toggle="pill">舰队</a></li>
          <li><a href="#tab_c" data-toggle="pill">远征</a></li>
          <li><a href="#tab_d" data-toggle="pill">建造</a></li>
        </ul>
        <div class="tab-content col-md-10">
          <div class="tab-pane active" id="tab_a">
              <h4>Pane A</h4>
              <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                  ac turpis egestas.</p>
          </div>
          <div class="tab-pane" id="tab_b">
               <h4>Pane B</h4>
              <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                  ac turpis egestas.</p>
          </div>
          <div class="tab-pane" id="tab_c">
               <h4>Pane C</h4>
              <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                  ac turpis egestas.</p>
          </div>
          <div class="tab-pane" id="tab_d">
               <h4>Pane D</h4>
              <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                  ac turpis egestas.</p>
          </div>
        </div>
      </div>
    </div>
    

    <a href="/index">Back to Index</a>
    <div id="admaralInfo">
      <p>Name: {{nickname}}</p>
      <p>lv {{level}}. Rank:{{rank}}</p>
    </div>
    <button id="load_game">Load</button>
    <button id="unload_game">Unload</button>
    
  </body>
  <script src="/javascripts/jquery-2.1.3.min.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>
  <script>
    $("#load_game").click(function () {
      $("#game_frame").attr("src", "http://www.dmm.com/netgame/social/-/gadgets/=/app_id=854854/");
    });
    $("#unload_game").click(function () {
      $("#game_frame").removeAttr("src");
    });
    $("button:first").mousedown(function () {
      alert('mousedown')
    })
    $("button#to_be_clicked").mousedown(function () {
      alert('good')
    })

  </script>
</html>