<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>The project is currently under development</p>
		<a href="/debug">To Development Screen</a>
    <a href="/desktop">To desktop Screen</a>
  </body>
</html>
