<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/new.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/bootstrap-select.min.css">
  <link rel="stylesheet" href="css/bootstrap-formhelpers.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="css/jquery.bootstrap-touchspin.min.css">
  <link rel="stylesheet" href="css/bootstrap-checkbox.css">
  <link rel="stylesheet" href="css/jquery.dynatable.css">
  <link rel="stylesheet" href="css/jquery.dataTables.min.css">
  <title>React</title>
  <style>
    body {
      margin-top: 30px;
    }
  </style>
</head>
<body>
  <div id="title-bar"></div>
  <div id="game-container"></div>
  <div id="main-container"></div>
  <div id="app-mode" style="display:none;"><%= appMode %></div>
  <div id="os-info" style="display:none;"><%= osInfo %></div>
  <div id="plugins" style="display:none;"><%= plugins %></div>
  <div id="context-menus" style="display:none;"></div>
  <div id="modals"></div>
  <!--
  <script>
    window.requireNode = window.require
    window.require = undefined
    var SERVER = 'http://127.0.0.1:3001'
    var gui = requireNode('nw.gui')
    var win = gui.Window.get()
  </script>
  -->
  <script src="js/vendor/require.js" data-main="js/react-main.js"></script>
</body>
</html>