.panel-wrapper>.panel>.panel-heading {display:none;}



/* legacy
.nav_btn {
  -webkit-app-region: no-drag;
}
#page_nav>.container-fluid {
  background-color: red !important;
}
#page_nav {
  border-color: red !important;
}
#disp_main_panel {
  height:　100%;
  width: 100%;
  background-color: white;
}
.panel_wrapper {
  height: 100%;
}
.panel_wrapper>.panel {
  height: 100%;
}
button {
  -webkit-app-region: no-drag;
}
body { 
  padding-top: 50px;
  background-color: red !important;
  overflow: hidden;
}

#game_panel {
  display: none;
}*/