/* whole page */
html * { font-family: 'Microsoft YaHei';}
.hidden-td {display: none;}
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
button {-webkit-app-region: no-drag;}
/*.btn:focus {
  outline: none !important;
}*/

/* titlebar  */
.frame-btn { padding: 6px 6px !important; }
#frame-btns { float:right; }
#frame-btns * {-webkit-app-region: no-drag;}
.title-btn {padding: 7px 5px !important;}

#page-nav{min-height: 30px !important; height: 30px !important;}
#page-nav>div.container-fluid{height: 30px !important;}
#page-nav .navbar-header{height: 30px !important;}
#page-nav .navbar-brand{height: 30px !important;padding-top: 5px !important;padding-bottom: 5px !important;}

/* info-block */
#add-pill { height: 100%;}

/* panels */
.my-panel { display: block; height: 100%;}
.panel-title { display:inline-block;}
.panel-wrapper>.panel { height: 100%;}
.panel-wrapper>.panel>.panel-footer {
  position:absolute;
  bottom:0;
  width:100%;
  display: table;
}

/* fleet panel */
#fleet-panel>.panel-body {padding-left: 0; padding-right: 0}
#fleet-icons {
  float:right;
  margin-right: 20px;
  padding:10px; 
  font-size: large; 
  display: inline-block;
}
.exp-next, .ship-type { font-size: small;}
#fleet-icons>i {display: inline-block;}
.progress.health_bar {margin-bottom: 0px; height: 10px;}
.table.fleet-table>tbody>tr>td {vertical-align: middle;}
span.fleet-name-hidden { display: none;}
span.fleet-name-shown { display: inline;}

/* exp panel */
.level-and-exp>div { padding-left: 5px;}
.level-and-exp { padding: 5px;}
.input-wrapper { padding-left: 5px !important;}
.exp-container { padding: 5px !important;}
.ship-select-picker { padding-left: 5px !important;}
.select-wrapper { padding-left: 5px; display: inline-block;}
#mvp, #flagship {vertical-align: bottom !important;}

/* battle panel */
.label-caution {background-color: yellow;}
.battle-table { margin-bottom: 0 !important; font-size: small;}
#battle-info { margin-top: 10px;}
#map-info { margin-bottom: 10px;}
.battle-hp {
  width: 100px;
  padding-bottom: 2px !important;
  padding-top: 2px !important;
}
.battle-table .name {
  width: 150px;
  padding-bottom: 2px !important; 
  padding-top: 2px !important;
}
.battle-table>thead>tr>td {
  padding-bottom: 2px !important;
  padding-top: 2px !important;
}
.battle-table .status {
  float:right;
  display: inline-block !important;
  margin-top: 2px !important;
}
.battle-table .status .hp-label {
  padding-top: 1px !important;
  padding-bottom: 1.5px !important;
}

/* quest panel */
.quest-table {font-size: small;}

/* timers panel */
#expedition-panel-wrapper,
#build-panel-wrapper,
#repair-panel-wrapper {
  
}

/* list panel */
#ship-table {font-size: small !important;}