.fleet_footer span.cell_like {
  display: table-cell;
  width: 20%;
}
.fleet_footer {
  position:absolute;
  bottom:0;
  width:100%;
  display: table;
}
.battle_table_friendly,
.battle_table_combined {
  margin-bottom: 0 !important;
}
p#battle_info,
p#peace {
  margin-top: 10px;
}
span.status {
  display: inline-block !important;
  margin-top: 3.5px !important;
}
#page_nav {
  min-height: 30px;
}
button.frame_btn {
  padding: 6px 6px !important;
}
#fleet_panel_wrapper .panel-body {
  padding-left: 0;
  padding-right: 0;
}
.fleet_statics {
  background-color: blue;
}
#exp_now_level,
#exp_target_level {
  width: 50px;
}
#game_frame {
  position: relative;
  margin: -79px 0px 0px -200px;
}
.fleet_status {
  margin-bottom: 0px !important;
}
.fleet_table {
  margin-bottom: 0px !important;
}
#game_wrapper {
  height: 480;
  overflow: hidden;
  position: relative;
  padding-top: 0px;
  padding: 0px;
}
#game_panel {
  width: 800;
}
.mytab {
  width:60px;
}
.exp_next,  
.ship_type {
  font-size: small;
}
.table.expedition_table>tbody>tr:nth-of-type(1)>td,
.table.build_table>tbody>tr:nth-of-type(1)>td,
.table.repair_table>tbody>tr:nth-of-type(1)>td,
.table.fleet_table>tbody>tr:nth-of-type(1)>td {
  border-top: none;
}
.table.fleet_table>tbody>tr>td {
  vertical-align: middle;
}
.progress.health_bar {
  margin-bottom: 0px;
  height: 10px;
}
#repair_panel,
#battle_panel,
#timer_panel,
#expedition_panel,
#game_panel,
#build_panel,
#fleet_panel,
#exp_panel,
#quest_panel {
  padding: 0px;
}
.quest_table>tbody>tr>td {
  font-size: small;
}
.quest_table>tbody>tr>td.type {
  width: 10px !important;
}
.quest_table>tbody>tr>td.quest_progress {
  width: 20px;
}
span.fleet_name_hidden {
  display: none;
}
span.fleet_name_shown {
  display: inline;
}
html * {
  font-family: 'Microsoft YaHei';
}
.btn_wrapper {
  text-align: right;
  display: inline-block;
  width: 80%;
}
.panel_title {
  display: inline-block;
}

#battle_panel>.panel-body>table {
  font-size: small;
}
.label-caution {
  background-color: yellow;
}
th.day_end,
th.night_end,
th.day_start,
td.day_end,
td.night_end,
td.day_start {
  width: 100px;
  padding-bottom: 2px !important;
  padding-top: 2px !important;
}
.battle_table_friendly>tbody>tr>th.name,
.battle_table_friendly>tbody>tr>td.name,
.battle_table_combined>tbody>tr>th.name,
.battle_table_combined>tbody>tr>td.name,
.battle_table_enemy>tbody>tr>th.name,
.battle_table_enemy>tbody>tr>td.name {
  width: 150px;
  padding-bottom: 2px !important; 
  padding-top: 2px !important;
}
.battle_table_friendly>thead>tr>td,
.battle_table_combined>thead>tr>td,
.battle_table_enemy>thead>tr>td {
  padding-bottom: 2px !important;
  padding-top: 2px !important;
}
span.status {
  float:right;
}
td.time {
  text-align: center;
}
.fleet_table {
  overflow: scroll;
}
.timer_title {
  margin-bottom: 0px;
}
#timer_panel>.panel-body .table {
  margin-bottom: 5px !important;
}
.build_table>tbody>tr>td,
.expedition_table>tbody>tr>td,
.repair_table>tbody>tr>td {
  padding-bottom: 0px !important;
}
#timer_panel>.panel-body {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
#expedition_panel_wrapper,
#repair_panel_wrapper,
#build_panel_wrapper {
  display:block;
}
.minify_table {
  float:right;
}
.outside_panel {
  display: block !important;
  visibility: visible !important;
}
table#ship_full_list>thead {
  background-color: grey;
}