<div class="panel panel-default" id="game-panel">
  <div class="panel-heading">
    <div class="panel-title" id="admiral-name">
      <span id="admiral-name"></span>&nbsp;
      <span id="admiral-lv"></span>&nbsp;
      <span id="admiral-rank"></span>&nbsp;
    </div>
    <span class="my-icons" style="float:right;">
      <div class="dropdown" style="display:inline-block;">
        <span class="glyphicon glyphicon-menu-hamburger dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"></span>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation" id="disp-battle-panel"><a role="menuitem" tabindex="-1" href="#">出击</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
        </ul>
      </div>
      &nbsp;
      <span class="glyphicon glyphicon-cog" id="config-app" data-toggle="modal" data-target="#setting-modal"></span>&nbsp;
      <span class="glyphicon glyphicon-triangle-bottom minify-panel"></span>&nbsp;
      <span class="glyphicon glyphicon-refresh" id="refresh-game"></span>
    </span>
  </div>
  <div class="panel-body" id="game-wrapper">
    <iframe id="game-frame" scrolling="no" width = "1200" height = "1200"  nwUserAgent="Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2272.101 Safari/537.36" nwdisable nwfaketop>
    </iframe>
  </div>
</div>