<div role="tabpanel" id="info-block" class="my-panel">
  <ul class="nav nav-pills" role="tablist">
    <!-- example:
    <li role="presentation" class="active"><a href="#fleet_pill" aria-controls="fleet_pill" role="tab" data-toggle="tab">舰队</a></li>
     -->
    <div class="dropdown" style="float:right;height:40px;">
      <!-- button to add panel to info block -->
      <button class="btn btn-default" id="add-pill"
              data-toggle="dropdown" aria-expanded="true">
          <span class="glyphicon glyphicon-plus"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="add-pill">
        <!-- example:
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
        -->
      </ul>
    </div>
  </ul>
  <div class="tab-content">

  </div>
</div>
