<nav class="navbar navbar-default navbar-fixed-top"
     style="-webkit-app-region: drag" id="page-nav">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" style="padding-right:6px;">
      <div id="frame-btns">
        <button type="button"
                class="btn btn-default navbar-btn frame-btn"
                id="close-window">
          <i class="fa fa-times"></i>
        </button>
        <button type="button"
                class="btn btn-default navbar-btn frame-btn"
                id="minimize-window">
          <i class="fa fa-minus"></i>
        </button>
        <button type="button"
                class="btn btn-default navbar-btn frame-btn"
                id="maximize-window">
          <span class="glyphicon glyphicon-resize-full"></span>
        </button>
        <button type="button"
                class="btn btn-default navbar-btn frame-btn"
                id="refresh-window">
          <i class="fa fa-refresh"></i>
        </button>
        <button type="button"
                class="btn btn-default navbar-btn frame-btn"
                id="open-console">
          <i class="fa fa-terminal"></i>
        </button>
      </div>
      <a class="navbar-brand" href="#">KCN</a>
    </div>
  </div><!-- /.container-fluid -->
</nav>